* {
  padding: 0px;
  margin: 0px;
}
.mainContainer{
  background-color: black;
  color: white;
  width: fit-content;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}

h1 {
  padding-bottom: 15px;
  align-items: center;
  text-align: center;
}

.buttonsContainer {
  padding-bottom: 10px;
}


button {
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgb(110, 110, 110);
  border: none;
  border-radius: 50%;
  margin-right: 5px;
  padding: 2px;
  font-weight: bold;
  cursor: pointer;
  line-height: 50px;
  box-shadow: 1px 1px 1px 1px red;
}

.mathBtn {
  background-color: orange;
}

